@mixin nytimes {
  background: black !important;

  img, .mediaOverlay, .vhs-xs {
    display: none;
  }

  .byline,
  time.timestamp,
  span.comment-count,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .kicker {
    color: transparent !important;

    &.kicker {
      color: transparent !important;
    }
  }
}